<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
      <h1 class="display-4">ComicApp-Beta Edition</h1>
      <p class="lead">Esta es una aplicación de Comics, tanto de marvel como de DC, interactua con nosotros!
      </p>
      <h5>Breve historia de los comics:</h5>  <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim totam exercitationem in ad perspiciatis, magni beatae obcaecati sunt porro non ullam voluptatum? Explicabo tempore debitis obcaecati reiciendis laborum, corporis qui magni mollitia nisi deserunt, laboriosam culpa rerum tenetur architecto excepturi. Ipsa voluptate rerum obcaecati doloremque consectetur quis saepe rem pariatur!
      </p> 
    </div>
  </div>