<div class="jumbotron jumbotron-fluid animated fadeIn fast  " style="background-color: #262626;">
    <div class="container">
      <h1 class="display-4" style=" color: #80d8ff; font-family: 'Syne Mono', monospace;">Internet de la Cosas</h1>
      <p class="lead" style=" color: #ffffff; font-family: 'Patrick Hand SC', cursive;">Estamos construyendo algo increible.
      </p>
      <div  style="padding: 30px;">
        <p style="text-align: center;"><img src="assets/img/1.svg" width="200" alt="" loading="lazy" ></p>
      </div>
      </div>
  </div>