<nav class="navbar navbar-expand-lg " style="background: #262626;" >
    <a class="navbar-brand" style=" color: #80d8ff; font-family: 'Syne Mono', monospace;" href="#">
      <!--<img src="assets/img/IoT.ico" width="80" alt="" loading="lazy">-->
      <img src="assets/img/startup.svg" width="45" alt="" loading="lazy">IoT:UCO
    </a>
    
    
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="class-name">
          <a class="nav-link" [routerLink]="['home'] " style="color: #80d8ff; font-family: 'Patrick Hand SC', cursive;" > </a>
        </li>
        <li class="nav-item" routerLink="/heroes" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}">
          <a class="nav-link" [routerLink]="['heroes']" style="color: #80d8ff; font-family: 'Patrick Hand SC', cursive;">Ingresar </a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link pull-right" [routerLink]="['about']" style="color: #80d8ff; font-family: 'Patrick Hand SC', cursive;">Registrar </a>
        </li>
        
        
      </ul>
      
    </div>
  </nav>

  
